.header{
    border-bottom: 1px solid #d2d2d2;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.order-form{
    margin-top: 60px;
}
.field-box{
    padding: 10px 15px;
    background-color: #d3d3d3;
    margin-bottom: 10px;
}
.product-form:nth-last-of-type(1){
    margin-bottom: 0;
}
.quantity{
    width: 100%;
    margin-top: 15px;
    padding: 3px 5px;
}
.remove-product{
    margin-top: 10px;
}
.field-box .help-block{
    margin-bottom:   0;
    margin-top: 3px;
    color: red
}